{% extends 'base.html' %}
{% block title %}
Home
{% endblock %}

{% block content %}
<header>
        <!-- side bar start -->
      
        <div class="offcanvas offcanvas-start" id="offcanvasExample" style="width: 50%; ">
      
      
      
          <div class=" flex-shrink-0 p-3 bg-body-tertiary" style="width: 100%;">
            <div class="side-bar">
              <div class="side-bar-up">
      
      
                <span class="fs-4">Sidebar</span>
      
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                  <li class="nav-item">
                    <a href="ac" class="nav-link active" aria-current="page">
                      <i class="bi bi-house-door"></i>
                      Home
                    </a>
                  </li>
                  <li>
                    <a href="#" class="nav-link link-body-emphasis">
                      <i class="bi bi-speedometer2"></i>
                      Dashboard
                    </a>
                  </li>
                  <li>
                    <a href="#" class="nav-link link-body-emphasis">
                      <i class="bi bi-table"></i>
                      Orders
                    </a>
                  </li>
                  <li>
                    <a href="#" class="nav-link link-body-emphasis">
                      <i class="bi bi-ui-checks-grid"></i>
                      Products
                    </a>
                  </li>
                  <li>
                    <a href="#" class="nav-link link-body-emphasis">
                      <i class="bi bi-person-circle"></i>
                      Customers
                    </a>
                  </li>
                </ul>
                <hr>
              </div>
            </div>
      
            <div class="dropdown">
              <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
                data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>mdo</strong>
              </a>
              <ul class="dropdown-menu text-small shadow">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
              </ul>
            </div>
          </div>
        </div>
      
</header>
{% endblock %}